{% if couchdb_admins is defined %}
[admins]
{% for (userid, pwd) in couchdb_admins.items() %}
{{ userid }} = {{ pwd | string | couchdb_password_hash( userid ) }}
{% endfor %}
{% else %}
[admins]
admin = {{ 'password' | string | couchdb_password_hash( 'admin' ) }}
{% endif %}