{% if couchdb_admins is defined %}
[admins]
{% for (userid, pwd) in couchdb_admins.items() %}
{{ userid }} = {{ pwd | couchdb_password_hash( userid | hash('sha1')) }}
{% endfor %}
{% else %}
[admins]
admin = {{ 'password' | couchdb_password_hash( 'admin' | hash('sha1')) }}
{% endif %}