[chttpd]
port = {{ couchdb_bind_port }}
bind_address = 0.0.0.0
backlog = {{ couchdb_httpd_backlog }}
max_db_number_for_dbs_info_req = {{ couchdb_httpd_max_db_info_req }}
{% if couchdb.require_auth == 'always' %}
require_valid_user = true
{% elif couchdb.require_auth == 'except_for_up' %}
require_valid_user_except_for_up = true
{% elif couchdb.require_auth == 'never' %}
;require_valid_user = true
{% endif %}


