[chttpd]
port = {{ couchdb_bind.port }}
bind_address = 0.0.0.0
{% if couchdb.require_auth == 'always' %}
require_valid_user = true
{% elif couchdb.require_auth == 'except_for_up' %}
require_valid_user_except_for_up = true
{% elif couchdb.require_auth == 'never' %}
;require_valid_user = true
{% endif %}


